<div tarjetas-container>
  <div *ngFor="let producto of cartService.carrito, index as i" class="tarjeta-producto-container">
     <ng-container *ngIf="productosCarrito[i]">
          <div id="izq" [ngStyle]="{'background-image':'url('+productosCarrito[i].fotoUrl+')'}">
          </div>
          <div id="centro">
              <p>{{productosCarrito[i].nombre}}</p>
              <p *ngIf="producto.notas !==''">{{producto.notas}}</p> 
              <app-contador-cantidad [cantidadInicial]="producto.cantidad"
               (cantidadCambiada)="cartService.cambiarCantidadProducto(producto.idProducto,$event)">   
              </app-contador-cantidad>
          </div>
          <div id="der">
              <button id="borrar" (click)="eliminarProducto(producto.idProducto)">
                  <img src="./../../../assets/icons/eliminar.png" alt=" ">
              </button>
              <p>Bs.- {{productosCarrito[i].precio}}</p>
          </div>
     </ng-container>
  </div>
</div>
<a [routerLink]="['/']" routerLinkActive="routerLinkActive">+</a>

<section>
  <h3>Dirección de envío</h3>
  <div>
    <h4>Calle Jordán #123</h4>
    <p>Zona Central</p>
    <div>
      <img src="./../../../assets/icons/lapiz.png" alt="Editar">
    </div>
  </div>
  <div class="precios">
    <div>
      <p>Sub Total:</p>
      <p>Delivery</p>
      <p>Total</p>
    </div>
    <div>
      <p>Bs.- <span>{{subtotal}}</span></p>
      <p>Bs.- <span>{{delivery}}</span></p>
      <p>Bs.- <span>{{total}}</span></p>
    </div>
  </div>
  <button id="enviar">Enviar Mensaje</button>
</section>