#tarjetas-container{
    flex-direction: column;
    gap: 15px;
    pad: 10px;
    border-radius: 15px;
    overflow: hidden;
   
}

.tarjeta-producto-container {
    display: flex;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
 
    >div{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        padding: 15px;
    }
}
#izq{
    margin-left: 20%;
    width:14%;
    background-size: contain;
    background-position:center;
    background-color: beige;
    border-radius: 15px;
}

#centro{
    width:25%;
    display: flex;
    justify-content: center;
    background-color: rgba(211, 198, 250, 0.816);
    justify-content: space-between;
    font-weight: bold;
    }


#der{
    width: 8%;
    background-color: rgba(245, 245, 220, 0.394);
    justify-content: space-between;
    font-weight: bold;
    }

#borrar img {
    width:30px;
    height: auto;
}
a.routerLinkActive {
    font-size: 200%; /* Tamaño deseado */
    color: #16a3fa; /* Color deseado (puedes usar un valor hexadecimal o un nombre de color) */
    border: 1px solid black;
    text-decoration: none;
    margin-left: 48%;
    background-color: aliceblue;
    padding: 5px 10px;
    border-radius: 10px;
}
  
.precios {
    justify-content: center;
    display:flex;
    justify-content: space-between;
}

.precios p{
    text-align: 30%;
    justify-content: center;
}

.precios span{
    float: right;
    justify-content: center;
}

#enviar{
    display: block;
    width: 30%;
    margin-left:38%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: larger;
    background-color: aquamarine;
    border: unset;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
}